{% extends 'base.html' %}

{% block title %} Add Psychiatrists {% endblock %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3>Add Psychiatrist</h3>
        </div>
        <div class="col-12 col-sm-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard/"> <i data-feather="home"></i></a>
            </li>
            <li class="breadcrumb-item">Psychiatrist</li>
            <li class="breadcrumb-item active">Add Psychiatrist</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header pb-0">
                  <h6>Psychiatrist Information</h6>
              </div>
              <div class="card-body">
                <form id="psychiatrist_form" class="theme-form mega-form" method="post" action="/psychiatrists/add/"> 
                  {% csrf_token %}
                  {% if error %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endif %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">First Name</label>
                        <input class="form-control" type="text" placeholder="First Name" name="first_name" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Last Name</label>
                        <input class="form-control" type="text" placeholder="Last Name" name="last_name" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Contact</label>
                        <input class="form-control" type="text" placeholder="Contact" name="contact" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Gender</label>
                        <input class="form-control" type="text" placeholder="Gender"  name="gender"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label">Specialization</label>
                        <input class="form-control" type="text" placeholder="Specialization" name="specialization" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label class="col-form-label" >Organization</label>
                        <input class="form-control" type="text" placeholder="Organization" name="organization"/>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <button type="submit" form="psychiatrist_form" class="btn btn-primary">Submit</button>
                <button id="cancel_psychiatrist" class="btn btn-secondary">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      document.getElementById("cancel_psychiatrist").addEventListener("click", function(event){
          event.preventDefault()
          document.getElementById("psychiatrist_form").reset();
          window.location.href = "/psychiatrists/";
      });
  </script>
{% endblock %}