<div>
  <div class="logo-wrapper">
    <a href="index.html"
      ><img class="img-fluid for-light" src="/static/images/logo/favicon-icon.png" alt="" /><img
        class="img-fluid for-dark"
        src="/static/images/logo/favicon-icon.png"
        alt=""
    /></a>
    <div class="back-btn"><i class="fa fa-angle-left"></i></div>
  </div>
  <div class="logo-icon-wrapper">
    <a href="index.html"><img class="img-fluid" src="/static/images/logo-icon.png" alt="" /></a>
  </div>
  <nav class="sidebar-main">
    <div class="left-arrow disabled" id="left-arrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-left"
      >
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
    </div>
    <div class="sidebar-menu">
      <ul class="sidebar-links" id="simple-bar">
        <li class="back-btn">
          <a href="index.html"
            ><img class="img-fluid" src="../assets/images/logo-icon.png" alt=""
          /></a>
          <div class="mobile-back text-end">
            <span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"> </i>
          </div>
        </li>
        {% for link in links %}
        <li class="sidebar-list">
          <a class="sidebar-link sidebar-title link-nav" href="{{ link.url }}">
            <i data-feather="{{ link.icon }}"></i>
            <span> {{ link.name }} </span>
            <div class="according-menu">
              <i class="fa fa-angle-right"></i>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
